* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}
/* **********************Header********************** */
.navbar {
  background-color: #000;
  display: flex;
  align-items: center;
  color: #fff;
  /* border: 1px solid white; */
  padding: 0;
}
.logo-container {
  width: 130px;
  height: 65px;
  margin: 0 0.7rem;
}
img {
  width: 100%;
  height: 100%;
}
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid white;

  width: 80%;
}
.searchInput {
  display: block;
  font-family: "Roboto", sans-serif;
  padding: 0.6rem;
  width: 100%;
  border: none;
  outline: none;
}
.search-icon {
  display: block;
  padding: 0.6rem;
  height: 100%;
  background-color: #febd69;
  color: #000;
  cursor: pointer;
}

.nav-info-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* border: 1px solid white; */
  margin-left: 2rem;
  width: 15%;
  padding: 0.5rem;
}
a {
  text-decoration: none;
  color: #fff;
}
.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
}
.cart-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.aside-txt {
  margin-bottom: 0;
  font-size: 12px;
}
.hyper-link {
  font-weight: 700;
}

.count-txt {
  font-size: 0.85rem;
  font-weight: 500;
}
/* *******************Body********************* */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: grid;
  grid-template-columns: 200px 4fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
  background-color: aliceblue;
}

.orders-btn,
.profileinfo-btn,
.wishlist-btn {
  height: 50px;
  font-size: 150%;
  display: grid;
  text-align: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #cccccc42;
  border-radius: 100px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.4s ease-in;
}
.orders-btn:hover,
.profileinfo-btn:hover,
.wishlist-btn:hover {
  background-color: #dddddd4f;
  text-decoration-color: #444;
  scale: 105%;
}

.right-container {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  /* background-color: aqua; */
  overflow: auto;
  height: 500px;
}

.orders-content {
  display: none;
}

.profile-info-content {
  display: none;
}

.wishlist-content {
  display: none;
}

.active {
  width: 100%;
}

.active-content {
  display: block;
}
/* *************Order Cards************* */
.orders-cards {
  border: 1px #d5d9d9 solid;
  border-radius: 8px;
  /* background-color: #febd69; */
}
.order-card-header {
  display: flex;
  border: 1px #d5d9d9 solid;
  border-radius: 8px 8px 0px 0px;
  height: 60px;
  background-color: #f0f2f2;
}
.order-details {
  padding: 5px;
}
.order-details:nth-child(even) {
  padding-left: 0px;
}
.order-card-body {
  display: flex;
}
.product-img {
  height: 100px;
  width: auto;
}
